@charset"UTF-8";
@import url('login.css');
/* The style sheet is made by Mario, Sylvain & Daniel
 * Blue color: #8684ee */
body {
	font-family: 	trebuchet MS,verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 			auto;
	height:			auto;
	font-size:  	14px;
	color: 			#333;
	margin: 		0px;
	padding: 		0px;
	background:		#8684ee;
	/*background-image: url("img/hexellence.png"); */
}
a{}

a.hover{}
a img{}
a img .hover{}
h1{}
h2{}
h3{}
h4{}
h5{}
p{}

/* TOP*/ 
#top
{
	width:			100%;
	height: 		70px;
	margin:			0 auto;
	padding:		0px;
	background: 	#000 url('../img/header-bg.png') no-repeat;
	background-position: 230px 0px;
	display: 		block;
 	
 }
#loginContainer
{
	width: 			100%;
	height:			100%;
	position:		absolute;
	right: 			30px;
} 
/* WRAPPER*/ 
#wrapper
{
	width:			950px;
	height: 		auto;
	margin:			0 auto;
	padding:		5px;
	background: 	#fff;
 	
 }

header {
	height: 75px;
}

footer {
	height: 75px;
	margin-top: 512px;
}

.examples, .list {
	background-color: red;
	margin: 10px;
	border: 1px solid black;
}

.list{
	float: left;
	height: 500px;
	width: 400px;
}

.examples {
	float: right;
	width: 225px;
	height: 390px;
}

.search {
	float: right;
	margin: 10px;
}

.playlist {
	float: right;
	width: 100px;
	margin: 50px -110px 10px 10px;
}

.main {
	border: 1px solid black;
	height: 700px;
}
