@charset:UTF-8;

body {
	background-image: url("img/hexellence.png");
	width:  850px;
	margin: 75px auto 0 auto;
}

.list{
	float: left;
}

.search {
	float: right;
}

.main {
	border: 1px solid black;
	height: 700px;
}
